@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

.slick-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots {
  bottom: -45px !important;
}
